/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#portfolio .filters {
	width:100%;
	display:flex;
	justify-content:center;
	margin: 20px auto;
}

#portfolio .filters .filter {
	border-radius: 60px;
	border: 1px #1d6154 solid;
	background-color: white;
	width: auto;
	height: 37;
	margin: 10px;
	font-size: 16px;
	padding: 9px;
	color: #1D6154;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}


#portfolio .filters .filter:hover {
	background-color:#1d6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

main {
	background-color: #e5e5e5;
}

h2 {
	margin-top: 0;
	text-align: center;
}


form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	margin-top: 10px;
}

input[type="text"],
input[type="password"] {
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

button[type="submit"] {
	margin-top: 20px;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	background-color: #2c3e50;
	color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #34495e;
}

p {
	margin-top: 20px;
	text-align: center;
}

/* login  */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  form {
	background-color: #e5e5e5;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2rem;
	max-width: 400px;
	width: 100%;
  }
  
  form label {
	margin-bottom: 0.5rem;
  }
  
  input {
	margin-bottom: 1rem;
	padding: 0.5rem;
	border: none;
	border-radius: 3px;
	width: 100%;
  }
  
  #buttonlogin {
	margin-top: 37px;
	border: solid color #1D6154 179px;
	border-radius: 60px;
	background-color: #1D6154;
	align-items: center;
	justify-content: center;
	display: flex;
	width: 100%;
	height: 36px;
  }
  
  p {
	text-align: center;
  }
  
  
/* form {
	background-color: #e5e5e5;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

label {
	text-align: left;
	display: block;
	font-size: 14px;
	font-weight: 500;
} */
/* modal */

.modal { 
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 
} 
.modal-content { 
        background-color: #fff; 
        margin: 3% auto; 
        padding: 20px; 
        border: 1px solid #888; 
		position: absolute;
		width: 630px;
		height: 731px;
		left: 605px;
		border-radius: 10px;
    } 

.modal-content p {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: #000000;
	
}

.close { 
        color: #aaa; 
        float: right; 
        font-size: 28px; 
        font-weight: bold; 
    } 

.close:hover, .close:focus { 
        color: black; 
        text-decoration: none; 
        cursor: pointer; 
    }


	/* Styles pour la modale */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 30%;

  }
  
  /* Styles spécifiques à la modale de suppression */
  #modalSuppressionPhoto {
	display: none;
  }
  
  /* Styles pour masquer la modale de suppression */
  .masquer {
	display: none;
  }
  
  #ajout_photo {
	display : none;
  }

  #ajoutPhoto {
	color: #fff;
	width: 237px;
	height: 36px;
	left: 600px;
	top: 1267px;
	background: #1D6154;
	border-radius: 60px;
	}

/* modale apres clic ajoutPhoto */

	#validerButton {
		color: #fff;
		width: 237px;
		height: 36px;
		left: 600px;
		top: 1267px;
		background: #A7A7A7;
		border-radius: 60px;
		justify-content: center;
		}

  